<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
<div th:insert="base :: Logo"></div>
<div class="container">
    <div th:replace="~{base :: jumbotron('Novo Pedido')}"></div>
    <div class="card">
        <form th:object="${requisicaoNovoPedido}" class="card-body needs-validation" action="/pedido/novo"
              method="post">
            <div class="form-group">
                <label>Produto</label>
                <input th:field="*{nomeProduto}" th:errorclass="is-invalid" th:name="nomeProduto" th:id="nomeProduto"
                       class="form-control"
                       placeholder="nome do produto"/>
                <small>Informa qual o nome do produto</small>
                <div class="invalid-feedback" th:errors="*{nomeProduto}"></div>
            </div>
            <div class="form-group">
                <label>Url</label>
                <input th:value="*{urlProduto}" th:errorclass="is-invalid" th:name="urlProduto" th:id="urlProduto"
                       class="form-control"
                       placeholder="url do produto"/>
                <small>Procure em um site por um produto que você deseja</small>
                <div class="invalid-feedback" th:errors="*{urlProduto}"></div>
            </div>
            <div class="form-group">
                <label>Imagem</label>
                <input th:filed="*{urlImagem}" th:errorclass="is-invalid" th:name="urlImagem" th:id="urlImagem"
                       class="form-control"
                       placeholder="url da imagem"/>
                <small>Copia a url de uma boa imagem do produto e cole aqui para conseguir compradores</small>
                <div class="invalid-feedback" th:errors="*{urlImagem}"></div>
            </div>
            <div class="form-group">
                <label>Descricao</label>
                <textarea th:filed="*{descricao}" th:errorclass="is-invalid" th:name="descricao" th:id="descricao"
                          class="form-control"
                          placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>
                <div class="invalid-feedback" th:errors="*{descricao}"></div>
            </div>
            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </form>
    </div>
</div>
</body>
</html>